* {
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
}


.bola {
  width: 60px;
  height: 64px;
  transition: filter 0.5s ease-in-out;
  margin: 0px;
  transition: margin .002s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;

  border-radius: 100%;
  /* animation: zooominout 10s infinite ease-in-out; */
}

.bola:hover {
  /* width: 16px;
  height: 30px; */
  filter: blur(2px);
  /* margin: 50px; */
  /* transition: margin .2s ease-in-out; */
}

@keyframes zooominout {
  0% {
    margin: 0px;
    transform: scale(1);
  }

  50% {
    margin: 1000px;
    transform: scale(1.5);
  }

  100% {
    margin: 0px;
    transform: scale(1);
  }
}

#bolas-container {
  display: grid;
  position: absolute;
  margin-inline: auto; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  gap: 0;
}