* {
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
}

.bola {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.2s ease-out, filter 0.5s ease-in-out;
}

.bola:hover {
  /* width: 16px;
  height: 30px; */
  filter: blur(2px);
  /* margin: 50px; */
  /* transition: margin .2s ease-in-out; */
}

@keyframes zooominout {
  0% {
    margin: 0px;
    transform: scale(1);
  }

  50% {
    margin: 1000px;
    transform: scale(1.5);
  }

  100% {
    margin: 0px;
    transform: scale(1);
  }
}

#bolas-container {
  display: grid;
  position: absolute;
  margin-inline: auto; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  gap: 0;
}